html {
   font-family: "Gill Sans", sans-serif;
   font-size: 16px;
   background-color: #0e0e0ee6;
   color: #FFFFFF;
}

header{
    font-size: 36px;
    margin: 15px 0px 30px 15px;
}

.sign_up {
    width: 450px;
    padding: 20px;
    margin: 10% auto;
    text-align: center;
    background-color: #3636367d;
    border: solid;
    border-width: 0.3em;
}

#submit {
  background-color: #725252;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  width: 25%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.infoInput{
  margin: 3px;
}

#password{
  margin: 3px;
}

#confirm_password{
  margin: 3px;
}

#termsConditionPolicy{
  margin: 5px;
  padding-top: 0.2em;
  padding-bottom: 0.2em; 
}

label{
  margin: 5px;
  padding-top: 0.2em;
  padding-bottom: 0.2em; 
  font-size: 18px;
}

input{
  line-height: 24px;
}

#checkboxDiv{
  padding-bottom: 0.5em;
}