html {
   font-family: "Gill Sans", sans-serif;
   font-size: 16px;
   background-color: #31157B;
   color: #FFFFFF;
}

header{
    font-size: 36px;
    margin: 15px 0px 30px 15px;
}

#sign_up{
    margin: 400px;
    
}